@model CursoOnline.Dominio.Matriculas.MatriculaDto
@{
    ViewData["Title"] = "Cursos";
}

<div id="pad-wrapper">

    <div class="row">
        <div class="col-md-12">
            <a href="/Matriculas" class="btn">Voltar</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-md-1">
            <h3>Matriculas</h3>
        </div>
    </div>
    <div class="row form-wrapper">
        <div class="col-md-12">
            <form id="form" class="form-horizontal" asp-action="Salvar" asp-controller="Curso" asp-anti-forgery
                  data-ajax="true" data-ajax-method="POST" data-ajax-failure="formQuandoFalha" data-ajax-success="window.location = '/Curso'">
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/excecaoDeDominio.js"></script>
}






